*{   font-family: 'Roboto', sans-serif;;
   
    padding: 0;
    box-sizing: border-box;
}
body{ margin: 0 10px 0 10px;
    box-sizing: border-box;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-name {
    font-size: 24px;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }
  

/* main section css*/
.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}
.section11 {
    flex:1;
    padding: 20px;
  }
  
#textf{
    margin-top: 20px;
    width: 90%;
    padding-left: 10px;
    font-size: 1.5rem;
}
.t2f{
    font-size: 500px;
}
h1{
    padding-left: 20px;
}
#button{ 
    color: white;
    background-color: rgb(250, 113, 113);
    width: 100px;
    height: 30px;
    border-radius: 80%;
}
.imgs img {
    width: 20vw;
    height: 15vw;
    border-radius: 8%;
  }
.tx2f{
    margin-top: 0px;
    font-size: 1.5rem;}
#radius{
    border-radius: 8%;
}